{% assign endPage = pagination.pages.length | minus: 2 %}

{% if pagination.pages.length > 1 %}
  <p>Page {{ pagination.pageNumber | plus: 1 }} of {{ pagination.pages.length }}</p>
  <p>    
    {% if pagination.pageNumber > 1 %}
      <a href="{{ pagination.href.first }}" class="button primary">&lt;&lt; First</a>
    {% endif %}
    {% if pagination.href.previous %}
      <a href="{{ pagination.href.previous }}" class="button primary">&lt; Previous</a>
    {% endif %}
    {% if pagination.href.next %}
      <a href="{{ pagination.href.next }}" class="button primary">Next &gt;</a>
    {% endif %}
    {% if pagination.pageNumber < endPage %}
      <a href="{{ pagination.href.last }}" class="button primary">Last &gt;&gt;</a>
    {% endif %}
  </p>
{% endif %}
