<div id="sidebar">
  <div class="inner">
    <section id="search" class="alt">
      <form method="post" action="#">
        <input type="text" name="query" id="query" placeholder="Search" />
      </form>
    </section>
    {% include "nav.html" %}
    <section>
      <header class="major">
        <h2>Get in touch</h2>
      </header>
      <p>Let us know if you have a favorite breakfast place you think we should try. We'll make note of it and, if we're in the area some day, we'll give it a try.</p>
      <ul class="contact">
        <li class="icon solid fa-envelope">
          <a href="mailto:&#105;&#110;&#102;&#111;&#064;&#116;&#104;&#101;&#098;&#114;&#101;&#097;&#107;&#102;&#097;&#115;&#116;&#113;&#117;&#101;&#115;&#116;&#046;&#099;&#111;&#109;"
            >&#105;&#110;&#102;&#111;&#064;&#116;&#104;&#101;&#098;&#114;&#101;&#097;&#107;&#102;&#097;&#115;&#116;&#113;&#117;&#101;&#115;&#116;&#046;&#099;&#111;&#109;</a>
        </li>
      </ul>
      <p>If you don't want to use email, use our contact form instead.</p>
      <ul class="actions">
        <li><a href="#" class="button">Contact Form</a></li>
      </ul>
    </section>
  </div>
</div>
