<div id="sidebar">
  <div class="inner">
    <section id="search" class="alt">
      <form onsubmit="handleSearch(event)">
        <input type="text" name="query" id="query" placeholder="Search" />
      </form>
    </section>
    {% include "nav.html" %}
    <section>
      <header class="major">
        <h2>Get in touch</h2>
      </header>
      <p>Let us know what you think about this site. Send us questions, comments, or share your favorite breakfast spots.</p>
      <ul class="actions">
        <li><a href="/contact/" class="button">Contact Form</a></li>
      </ul>
    </section>
		{% include "footer.html" %}
  </div>
</div>
<script src="/assets/js/search-sidebar.js"></script>