---
permalink: /api/locations.json
---
[
  {%- for post in collections.posts -%}
  {
    "title": "{{ post.data.title | addslashes }}",
    "url": "{{ post.url }}",
    "date": "{{ post.date }}"
  }{% if not loop.last %},{% endif %}
  {%- endfor -%}
]
